body {
    font-family: Arial, Helvetica;
    text-align: left;
    background-image: url(gambar.jpg);
    background-size: cover;

}

h1 {
    color: blanchedalmond;
}

h2 {
    color: blanchedalmond;
}

p {
    font: bold;
    font-family: arial;
    color: rgb(255, 255, 255);
}

h3 {
    color: blanchedalmond;
}

/* Mengatur tampilan tabel */
.styled-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Mengatur header tabel */
.styled-table thead {
    background-color: #3498db;
    color: white;
}

/* Mengatur garis border pada tabel */
.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Warna latar belakang untuk baris genap */
.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Efek hover ketika kursor berada di atas baris */
.styled-table tbody tr:hover {
    background-color: #d5f5e3;
}
