body {
    font-family: Arial, Helvetica;
    text-align: left;
    background-image: url(gambar.jpg);
    background-size: cover;

}

h1 {
    color: blanchedalmond;
}

h2 {
    color: blanchedalmond;
}

p {
    font: bold;
    font-family: arial;
    color: rgb(255, 255, 255);
}